<% include partials/header %>
<body id="front-page">

<!-- nav bar
<nav class="navbar navbar-inverse movie-style-nav">
  <div class="container-fluid">

     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left" id="external-links-font">
          <li><a href="http://www.rottentomatoes.com/">Rotten Tomatoes</a></li>
          <li><a href="http://www.metacritic.com/">Meta Critic</a></li>
          <li><a href="http://www.imdb.com/">IMDb</a></li>
          <li><a href="http://www.flixster.com/">Flixster</a></li>
      </ul>
    </div>
  </div>
</nav> -->


<div class="caption">
  <div class="caption-container">
    <h2>Welcome to my Site!</h2>
    <p>Click on the Search button below to search the OMDB's vast move archive. Then, use your search results to build a list of favorites.
    Vist the site anytime to review your favorites list or to search for more movies. Click on the favorites list button below to
    view your current list.
    </p>
    <div class="front-page-buttons">
    <button class="btn btn-info front-page-buttons"><a class="front-a white-text" href="/search">
      Search</button>
    <button class="btn btn-info front-page-buttons favorites-button">
    <a class="front-a white-text" href="/favorites">Favorites List</button>
  </div>
</div>
</body>



<% include partials/footer %>

